<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>

<div align="center">

    <div><h2>Produtos</h2></div>

    <form action="/product/register/formquantity" method="get" >
        <p>
            <button type="submit">Cadastrar produtos</button>
        </p>
    </form>

    <form action="/" method="get" >
        <p>
            <button type="submit">Voltar à pagina inicial</button>
        </p>
    </form>


</div>


</body>
</html>