<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" />
</head>
<body>
    <div align="center">

        <div><h2>Produtos</h2></div>

        <form action="#" th:action="@{/product/register/form}" method="get">

            <p>
                <label for="quantity">Quantidade de produtos a cadastrar:</label>
                <input type="number" id="quantity" name="quantity" required /></br>

                <button class="btn btn-primary" type="submit">Enviar</button>
            </p>


        </form>

        <div class="col-md-6">
            <a class="btn btn-primary" href="#" th:href="@{/}"> Voltar à página inicial </a>
        </div>


    </div>



</body>
</html>