<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" />
</head>
<body>
<div align="center">

    <div><h2>Cadastrar produtos</h2></div>

    <div align="center">

    <form action="#" th:action="@{/product/register}" th:object="${form}" method="post">

        <fieldset>
            <input class="btn btn-success" type="submit" id="submitButton" th:value="Save">
            <input class="btn btn-warning" type="reset" id="resetButton" name="reset" th:value="Reset"/>
            <table border="1">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                        <th>Estoque</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product, itemStat : *{products}">
                        <td><input th:field="*{products[__${itemStat.index}__].name}" /></td>
                        <td><input th:field="*{products[__${itemStat.index}__].description}" /></td>
                        <td><input th:field="*{products[__${itemStat.index}__].price}" type="number" step=".01"/></td>
                        <td><input th:field="*{products[__${itemStat.index}__].stock}" type="number" /></td>
                    </tr>
                </tbody>
            </table>

        </fieldset>
    </form>

    </div>

    <div class="col-md-6">
        <a class="btn btn-primary" href="#" th:href="@{/}"> Voltar à página inicial </a>
    </div>

</div>



</body>
